@charset "utf-8";

body {
  margin: 0px;
  padding: 0px;
  font-family: b nazanin bold,arial;
}
a{
  text-decoration: none;
}
/*start Navaigation*/
nav{
  width: 100%;
  height: 60px;
  background-color:black ;
  position: sticky;
  top: 0px;
}
nav ul li{
  list-style-type: none;
  float: right;
  width: 100px;
  height: 60px;
  text-align: center;
  
}
nav ul li a{
  color: white;
  font-size: 18px;
  display: block;
  height: 60px;
  box-sizing: border-box;
  padding: 16px 8px;
}
nav ul li a:hover{
  color: black;
  background-color: rgb(78, 78, 78);
}
a img.logo{
  height: 46px;
  width: 130px;
  float: left;
} 
/*End Navaigation*/

/* start header*/
header {
  background-image: url(../image/home-bg.jpg);
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100% 450px;

}
h2.name-header{
  text-align: center;
  color: white;
  position: relative;
  top: 120px;

}
h5.info-header{
  text-align: center;
  color: white;
  position: relative;
  top: 100px;
}
div.icon-social {
  position: relative;
  top: 90px;
text-align: center;}

i.fa {
  color: white;
  font-size: 18px;

}

article#aboutme {
  width: 100%;
  height: 600px;
}

article#pictures {}

article#contact {}

/* contact */
.contact {
  width: 100%;
  height: 400px;
}

.cotact-info {
  width: 50%;
  height: 400px;
  position: relative;
  padding: 16px 8px;
  box-sizing: border-box;
}

.contact-form {
  width: 50%;
  height: 400px;
  position: relative;
  margin-right: 51%;
  margin-top: -400px;
  padding: 16px 8px;
  box-sizing: border-box;
}
/* Footer */
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}
